*{
    margin: 0px;
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one{
    background-color: #1F2937;
    height: 537px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
}
.item1a{
    width: 1152px;
    height: 50px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item1aa{
    background-color: yellow;
    height: 50px;
    width: 288px;
}
.item1ab{
    background-color: brown;
    height: 50px;
    width: 576px;
    display: flex;
    flex-direction: row;
}
.item1aba{
    background-color:aqua;
    height: 50px;
    width: 66px;
}
.item1abb{
    background-color: orange;
    height: 50px;
    width: 170px;
}
.item1abc{
    background-color: purple;
    height: 50px;
    width: 170px;
}
.item1abd{
    background-color: white;
    height: 50px;
    width: 170px;
}

.item1b{
    background-color: green;
    width: 1152px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item1ba{
    background-color: black;
    width: 522px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.item1baa{
    width: 522px;
    height: 235px;
    background-color: yellowgreen;
}
.item1bab{
    height: 55px;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(94, 210, 245);
}

.item1bb{
    background-color: white;
    width: 576px;
    height: 300px;
}
.two{
    background-color: white;
    height: 494px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.item2a{
    height: 138px;
    width: 1152px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
}



.item2aa{
    background-color: white;
    width: 1152px;
    height: 42px;
    font-size: 36px;
    text-align: center;
}

.item2b{
    height: 350px;
    width: 1152px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    background-color: white;
    gap: 50px;
}

.item2ba{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 30px;
    background-color: white;
}
.item2bb{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 30px;
    background-color: white;
}
.item2bc{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 30px;
    background-color: white;
}
.item2bd{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 30px;
    background-color: white;
}

.img2{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 30px;
}

figcaption{
    background-color: white;
}

.three{
    background-color: #E6E7EB;
    height: 430px;
    width: 1440px;
}
.four{
    background-color: white;
    height: 354px;
    width: 1440px;
}
.five{
    background-color: #1F2937;
    height: 97px;
    width: 1440px;
}